<a href="https://colab.research.google.com/github/Data-alchemist-mani/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-make-features/Copy_of_LS_DS_124_Make_features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_Lambda School Data Science_

# Make features

Objectives
-  understand the purpose of feature engineering
-  work with strings in pandas
- work with dates and times in pandas

Links
- [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
- Python Data Science Handbook
  - [Chapter 3.10](https://jakevdp.github.io/PythonDataScienceHandbook/03.10-working-with-strings.html), Vectorized String Operations
  - [Chapter 3.11](https://jakevdp.github.io/PythonDataScienceHandbook/03.11-working-with-time-series.html), Working with Time Series

## Get LendingClub data

[Source](https://www.lendingclub.com/info/download-data.action)

In [1]:
!wget https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip

--2019-12-05 22:41:31--  https://resources.lendingclub.com/LoanStats_2018Q3.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q3.csv.zip’

LoanStats_2018Q3.cs     [                <=> ]  21.83M   857KB/s    in 26s

2019-12-05 22:41:58 (844 KB/s) - ‘LoanStats_2018Q3.csv.zip’ saved [22889296]

In [2]:
!unzip LoanStats_2018Q3.csv.zip

Archive:  LoanStats_2018Q3.csv.zip
  inflating: LoanStats_2018Q3.csv

In [3]:
!head LoanStats_2018Q3.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","9000","9000","9000"," 36 months"," 15.02%","312.08","C","C3","buyer","10+ years","MORTGAGE","90000","Source Verified","Sep-2018","Current","n","","","other","Other","018xx","MA","10.81","0","Jul-2010","1","","","7","0","28814","65.5%","8","w","5969.05","5969.05","4354.1","4354.10","3030.95","1323.15","0.0","0.0","0.0","Nov-2019","312.08","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","266673","1","0","0","0","","0","","1","3","18239","66","44000","0","0","3","4","38096","13249","66.9","0","0","","98","4","4","1","21","","4","","0","2","4","3","3","0","6","7","4","7","0","0","0","2","100","66.7","0","0","284200","28814","40000","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29000","29000","29000"," 36 months"," 10.08%","936.84","B","B1","Attorney","9 years","RENT","123000","Not Verified","Sep-2018","Current","n","","","credit_card","Credit card refinancing","191xx","PA","27.73","0","May-2006","0","","","12","0","50905","79%","26","w","18746.50","18746.50","13083.28","13083.28","10253.50","2829.78","0.0","0.0","0.0","Nov-2019","936.84","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","202928","0","2","0","0","25","152023","37","0","0","20610","72","64400","0","0","0","0","22548","3213","93","0","0","121","148","45","25","0","81","","","","0","4","7","5","6","11","10","15","7","12","0","0","0","0","100","100","0","0","189145","202928","46100","124745","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","15000","15000","15000"," 36 months","  8.46%","473.24","A","A5","","< 1 year","RENT","144898","Not Verified","Sep-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","077xx","NJ","11.71","0","Aug-1999","0","60","","9","0","669","4.3%","38","w","0.00","0.00","15428.2167643691","15428.22","15000.00","428.22","0.0","0.0","0.0","Jan-2019","14022.6","","Nov-2019","0","","1","Individual","","","","0","0","65307","1","4","1","3","2","62691","63","0","1","200","53","15700","1","2","0","4","7256","7000","2.8","0","0","229","201","23","2","2","23","60","17","60","0","1","2","1","7","15","4","20","2","9","0","0","0","1","92.1","0","0","0","141168","65307","7200","120000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 60 months"," 12.73%","452.31","B","B5","Child Protective Specialist","10+ years","RENT","69000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","111xx","NY","23.81","0","Dec-2002","1","","","15","0","13251","18.7%","27","w","16396.04","16396.04","6304.05","6304.05","3603.96","2700.09","0.0","0.0","0.0","Nov-2019","452.31","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","56321","0","8","1","3","10","43070","73","0","1","13187","43","71000","1","1","2","4","3755","56449","19","0","0","140","189","13","10","0","13","","1","","0","2","2","6","10","13","7","14","2","15","0","0","0","1","100","16.7","0","0","130321","56321","69700","59321","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29000","29000","29000"," 36 months"," 11.55%","957","B","B4","Sales Manager","8 years","MORTGAGE","110000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","462xx","IN","17.9","1","Dec-1994","2","14","","13","0","49387","59.2%","35","w","18892.54","18892.54","13360.78","13360.78","10107.46","3253.32","0.0","0.0","0.0","Nov-2019","957.0","Dec-2019","Nov-2019","0","14","1","Individual","","","","0","0","334446","2","3","0","0","27","16945","66","2","2","22866","61","83400","0","1","2","4","25727","18384","71.2","0","0","217","285","2","2","6","2","","2","","1","3","4","5","9","16","9","13","4","13","0","0","1","2","97.1","40","0","0","417298","66332","63900","60327","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5500","5500","5500"," 36 months","  6.67%","169","A","A2","Interpreter","6 years","RENT","59000","Source Verified","Sep-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","454xx","OH","12.45","0","Apr-1988","0","52","","13","0","4355","17.3%","59","w","0.00","0.00","5575.9240472692","5575.92","5500.00","75.92","0.0","0.0","0.0","Dec-2018","25.01","","Oct-2019","0","","1","Individual","","","","0","0","40893","3","2","2","5","4","36538","97","2","6","609","65","25200","3","5","5","11","3408","2391","20.3","0","0","150","365","2","2","1","80","","5","52","0","1","6","1","12","12","10","45","6","13","0","0","0","4","100","0","0","0","62961","40893","3000","37761","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","2100","2100","2100"," 36 months"," 11.55%","69.3","B","B4","Accounting","1 year","RENT","60000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","981xx","WA","14.9","0","Sep-2003","0","","","16","0","14346","32.9%","24","w","1368.08","1368.08","967.5","967.50","731.92","235.58","0.0","0.0","0.0","Nov-2019","69.3","Dec-2019","Nov-2019","0","","1","Individual","","","","0","428","25641","2","2","1","1","8","11295","48","3","6","11278","38","43600","1","0","1","7","1709","21218","39.9","0","0","146","180","3","3","0","3","","8","","0","6","7","8","10","6","13","17","7","16","0","0","0","4","100","37.5","0","0","67136","25641","35300","23536","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 36 months","  6.11%","487.55","A","A1","Program Manager ","5 years","MORTGAGE","130000","Source Verified","Sep-2018","Current","n","","","debt_consolidation","Debt consolidation","894xx","NV","21.29","1","Aug-1996","0","9","","13","0","45852","96.1%","27","w","10556.58","10556.58","6362.6","6362.60","5443.42","919.18","0.0","0.0","0.0","Nov-2019","487.55","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","478638","0","2","0","1","18","17227","35","0","0","8160","65","47700","0","7","2","1","36818","274","98.8","0","0","66","265","88","18","7","88","","0","","0","6","8","6","11","5","8","15","8","13","0","0","0","0","96.3","100","0","0","597915","63079","23700","49215","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [4]:
!tail LoanStats_2018Q3.csv

"","","5000","5000","5000"," 36 months"," 16.46%","176.93","C","C5","Labor Worker","3 years","MORTGAGE","57000","Not Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","781xx","TX","33.09","0","Jul-2008","0","25","","11","0","7449","41.4%","47","w","3076.17","3076.17","2821.74","2821.74","1923.83","897.91","0.0","0.0","0.0","Nov-2019","176.93","Dec-2019","Nov-2019","0","","1","Individual","","","","0","236","45088","1","5","3","4","7","37639","58","1","2","0","54","18000","3","10","1","6","4099","","","0","0","119","80","1","1","0","","","8","25","0","0","4","0","1","39","6","8","4","11","0","0","0","4","93.6","","0","0","83496","45088","0","65496","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 36 months"," 14.03%","410.31","C","C2","Medical Support Staff","10+ years","OWN","53414","Source Verified","Jul-2018","Current","n","","","home_improvement","Home improvement","136xx","NY","25.68","0","Mar-1997","0","","","8","0","6527","44.4%","20","w","7279.54","7279.54","6550.93","6550.93","4720.46","1830.47","0.0","0.0","0.0","Nov-2019","410.31","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","29869","0","2","0","2","13","23342","73","0","0","3977","64","14700","1","1","0","2","3734","7173","47.6","0","0","139","255","42","13","0","66","","18","","0","2","2","5","9","8","6","12","2","8","0","0","0","0","100","40","0","0","46792","29869","13700","32092","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months","  6.19%","152.55","A","A2","Host/cashier","4 years","RENT","22000","Not Verified","Jul-2018","Current","n","","","credit_card","Credit card refinancing","731xx","OK","11.67","0","Apr-2001","0","","","6","0","7118","23.3%","19","w","2891.48","2891.48","2437.36","2437.36","2108.52","328.84","0.0","0.0","0.0","Nov-2019","152.55","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","7118","1","0","0","0","127","0","","1","1","3841","23","30500","1","0","0","1","1186","23382","23.3","0","0","168","206","3","3","0","3","","17","","0","3","3","6","10","4","6","15","3","6","0","0","0","1","100","0","0","0","30500","7118","30500","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 11.05%","327.63","B","B4","Operator","5 years","RENT","60000","Not Verified","Jul-2018","Fully Paid","n","","","credit_card","Credit card refinancing","952xx","CA","10.72","0","Apr-2015","0","27","","8","0","2301","28.1%","12","w","0.00","0.00","10761.5354030672","10761.54","10000.00","761.54","0.0","0.0","0.0","Apr-2019","8149.71","","Apr-2019","0","27","1","Individual","","","","0","0","9572","0","2","1","1","12","7271","60","3","4","1624","47","8200","0","0","1","5","1197","3099","42.6","0","0","34","38","9","9","0","11","","9","","1","3","3","5","6","3","6","8","3","8","0","0","0","4","100","20","0","0","20377","9572","5400","12177","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months"," 15.49%","698.12","C","C4","Client manager","10+ years","MORTGAGE","80000","Verified","Jul-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","913xx","CA","22.14","0","Apr-1994","0","43","","27","0","28994","63%","47","w","0.00","0.00","22361.874490153","22361.87","20000.00","2361.87","0.0","0.0","0.0","May-2019","16113.21","","Oct-2019","0","43","1","Individual","","","","0","0","314886","0","1","0","0","37","15336","61","1","9","5067","64","46000","1","6","0","10","11662","3359","83.8","0","0","129","186","10","10","3","10","43","13","43","3","8","22","8","15","6","24","36","22","27","0","0","0","1","93.6","75","0","0","349879","47229","20700","25295","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4000","4000","4000"," 36 months"," 16.46%","141.54","C","C5","jewelry","5 years","RENT","9600","Source Verified","Jul-2018","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","14.5","1","Nov-2014","0","15","","5","0","3545","45.4%","5","w","2479.23","2479.23","2257.32","2257.32","1520.77","736.55","0.0","0.0","0.0","Nov-2019","141.54","Dec-2019","Nov-2019","0","","1","Individual","","","","0","0","3545","1","0","0","0","","0","","1","2","1515","45","7800","0","0","0","2","709","285","84.2","0","0","","43","1","1","0","33","","","15","0","1","3","1","1","0","5","5","3","5","0","0","0","1","80","100","0","0","7800","3545","1800","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2063142975
Total amount funded in policy code 2: 823319310

## Load LendingClub data

pandas documentation
- [`read_csv`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
- [`options.display`](https://pandas.pydata.org/pandas-docs/stable/options.html#available-options)

In [5]:
import pandas as pd

df = pd.read_csv('LoanStats_2018Q3.csv', skiprows=1, skipfooter=2)

df.shape

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

(128194, 144)

In [6]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,9000,29000,15000,20000,29000
funded_amnt,9000,29000,15000,20000,29000
funded_amnt_inv,9000,29000,15000,20000,29000
term,36 months,36 months,36 months,60 months,36 months
int_rate,15.02%,10.08%,8.46%,12.73%,11.55%
installment,312.08,936.84,473.24,452.31,957
grade,C,B,A,B,B
sub_grade,C3,B1,A5,B5,B4
emp_title,buyer,Attorney,NaN,Child Protective Specialist,Sales Manager
emp_length,10+ years,9 years,< 1 year,10+ years,8 years
home_ownership,MORTGAGE,RENT,RENT,RENT,MORTGAGE
annual_inc,90000,123000,144898,69000,110000
verification_status,Source Verified,Not Verified,Not Verified,Source Verified,Source Verified
issue_d,Sep-2018,Sep-2018,Sep-2018,Sep-2018,Sep-2018
loan_status,Current,Current,Fully Paid,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,other,credit_card,debt_consolidation,debt_consolidation,debt_consolidation
title,Other,Credit card refinancing,Debt consolidation,Debt consolidation,Debt consolidation
zip_code,018xx,191xx,077xx,111xx,462xx
addr_state,MA,PA,NJ,NY,IN
dti,10.81,27.73,11.71,23.81,17.9
delinq_2yrs,0,0,0,0,1
earliest_cr_line,Jul-2010,May-2006,Aug-1999,Dec-2002,Dec-1994
inq_last_6mths,1,0,0,1,2
mths_since_last_delinq,NaN,NaN,60,NaN,14
mths_since_last_record,NaN,NaN,NaN,NaN,NaN
open_acc,7,12,9,15,13
pub_rec,0,0,0,0,0
revol_bal,28814,50905,669,13251,49387
revol_util,65.5%,79%,4.3%,18.7%,59.2%
total_acc,8,26,38,27,35
initial_list_status,w,w,w,w,w
out_prncp,5969.05,18746.5,0,16396,18892.5
out_prncp_inv,5969.05,18746.5,0,16396,18892.5
total_pymnt,4354.1,13083.3,15428.2,6304.05,13360.8
total_pymnt_inv,4354.1,13083.3,15428.2,6304.05,13360.8
total_rec_prncp,3030.95,10253.5,15000,3603.96,10107.5
total_rec_int,1323.15,2829.78,428.22,2700.09,3253.32
total_rec_late_fee,0,0,0,0,0
recoveries,0,0,0,0,0
collection_recovery_fee,0,0,0,0,0
last_pymnt_d,Nov-2019,Nov-2019,Jan-2019,Nov-2019,Nov-2019
last_pymnt_amnt,312.08,936.84,14022.6,452.31,957
next_pymnt_d,Dec-2019,Dec-2019,NaN,Dec-2019,Dec-2019
last_credit_pull_d,Nov-2019,Nov-2019,Nov-2019,Nov-2019,Nov-2019
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,14
policy_code,1,1,1,1,1
application_type,Individual,Individual,Individual,Individual,Individual
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,0,0,0,0
tot_cur_bal,266673,202928,65307,56321,334446
open_acc_6m,1,0,1,0,2
open_act_il,0,2,4,8,3
open_il_12m,0,0,1,1,0
open_il_24m,0,0,3,3,0
mths_since_rcnt_il,NaN,25,2,10,27
total_bal_il,0,152023,62691,43070,16945
il_util,NaN,37,63,73,66
open_rv_12m,1,0,0,0,2
open_rv_24m,3,0,1,1,2
max_bal_bc,18239,20610,200,13187,22866
all_util,66,72,53,43,61
total_rev_hi_lim,44000,64400,15700,71000,83400
inq_fi,0,0,1,1,0
total_cu_tl,0,0,2,1,1
inq_last_12m,3,0,0,2,2
acc_open_past_24mths,4,0,4,4,4
avg_cur_bal,38096,22548,7256,3755,25727
bc_open_to_buy,13249,3213,7000,56449,18384
bc_util,66.9,93,2.8,19,71.2
chargeoff_within_12_mths,0,0,0,0,0
delinq_amnt,0,0,0,0,0
mo_sin_old_il_acct,NaN,121,229,140,217
mo_sin_old_rev_tl_op,98,148,201,189,285
mo_sin_rcnt_rev_tl_op,4,45,23,13,2
mo_sin_rcnt_tl,4,25,2,10,2
mort_acc,1,0,2,0,6
mths_since_recent_bc,21,81,23,13,2
mths_since_recent_bc_dlq,NaN,NaN,60,NaN,NaN
mths_since_recent_inq,4,NaN,17,1,2
mths_since_recent_revol_delinq,NaN,NaN,60,NaN,NaN
num_accts_ever_120_pd,0,0,0,0,1
num_actv_bc_tl,2,4,1,2,3
num_actv_rev_tl,4,7,2,2,4
num_bc_sats,3,5,1,6,5
num_bc_tl,3,6,7,10,9
num_il_tl,0,11,15,13,16
num_op_rev_tl,6,10,4,7,9
num_rev_accts,7,15,20,14,13
num_rev_tl_bal_gt_0,4,7,2,2,4
num_sats,7,12,9,15,13
num_tl_120dpd_2m,0,0,0,0,0
num_tl_30dpd,0,0,0,0,0
num_tl_90g_dpd_24m,0,0,0,0,1
num_tl_op_past_12m,2,0,1,1,2
pct_tl_nvr_dlq,100,100,92.1,100,97.1
percent_bc_gt_75,66.7,100,0,16.7,40
pub_rec_bankruptcies,0,0,0,0,0
tax_liens,0,0,0,0,0
tot_hi_cred_lim,284200,189145,141168,130321,417298
total_bal_ex_mort,28814,202928,65307,56321,66332
total_bc_limit,40000,46100,7200,69700,63900
total_il_high_credit_limit,0,124745,120000,59321,60327
revol_bal_joint,NaN,NaN,NaN,NaN,NaN
sec_app_earliest_cr_line,NaN,NaN,NaN,NaN,NaN
sec_app_inq_last_6mths,NaN,NaN,NaN,NaN,NaN
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

## Work with strings

For machine learning, we usually want to replace strings with numbers

We can get info about which columns have a datatype of "object" (strings)

In [7]:
df.select_dtypes('object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128194 entries, 0 to 128193
Data columns (total 36 columns):
term                         128194 non-null object
int_rate                     128194 non-null object
grade                        128194 non-null object
sub_grade                    128194 non-null object
emp_title                    114757 non-null object
emp_length                   117807 non-null object
home_ownership               128194 non-null object
verification_status          128194 non-null object
issue_d                      128194 non-null object
loan_status                  128194 non-null object
pymnt_plan                   128194 non-null object
purpose                      128194 non-null object
title                        128194 non-null object
zip_code                     128194 non-null object
addr_state                   128194 non-null object
earliest_cr_line             128194 non-null object
revol_util                   128065 non-null object
initial_list_status          128194 non-null object
last_pymnt_d                 128053 non-null object
next_pymnt_d                 96080 non-null object
last_credit_pull_d           128191 non-null object
application_type             128194 non-null object
verification_status_joint    15729 non-null object
sec_app_earliest_cr_line     17785 non-null object
hardship_flag                128194 non-null object
hardship_type                332 non-null object
hardship_reason              332 non-null object
hardship_status              332 non-null object
hardship_start_date          332 non-null object
hardship_end_date            332 non-null object
payment_plan_start_date      332 non-null object
hardship_loan_status         332 non-null object
debt_settlement_flag         128194 non-null object
debt_settlement_flag_date    585 non-null object
settlement_status            585 non-null object
settlement_date              585 non-null object
dtypes: object(36)
memory usage: 35.2+ MB

### Convert `int_rate`

Define a function to remove percent signs from strings and convert to floats

In [8]:
string='17.97%'

def remove_percent(string):
    return float(string.strip('%'))

remove_percent(string)

17.97

Apply the function to the `int_rate` column

In [0]:
df['int_rate'] = df['int_rate'].apply(remove_percent)

In [10]:
df['int_rate'].head()

0    15.02
1    10.08
2     8.46
3    12.73
4    11.55
Name: int_rate, dtype: float64

### Clean `emp_title`

Look at top 20 titles

In [11]:
df['emp_title'].value_counts().head(20)

Teacher               2294
Manager               2075
Owner                 1231
Driver                1089
Registered Nurse       944
Supervisor             810
RN                     757
Sales                  726
Project Manager        637
General Manager        548
Office Manager         542
Director               482
owner                  398
Engineer               383
Truck Driver           367
Operations Manager     366
President              350
Sales Manager          323
Supervisor             321
Server                 319
Name: emp_title, dtype: int64

How often is `emp_title` null?

In [12]:
df['emp_title'].isnull().sum()

13437

Clean the title and handle missing values

In [15]:
import numpy as np
examples = ['owner', 'Supervisor ', 
            ' Project manager', np.NaN]

def clean_title(x):
    if isinstance(x, str):        
        return x.strip().title()
    else:
        return 'Unknown'

for example in examples:
    print(clean_title(example))

Owner
Supervisor
Project Manager
Unknown

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

In [17]:
df['emp_title'].value_counts().head(20)

Unknown                     13437
Teacher                      2843
Manager                      2749
Owner                        1856
Driver                       1498
Registered Nurse             1386
Supervisor                   1345
Sales                         980
Truck Driver                  921
Rn                            905
Office Manager                846
Project Manager               835
General Manager               809
Director                      585
Operations Manager            516
Sales Manager                 510
Engineer                      474
Store Manager                 466
Administrative Assistant      466
President                     464
Name: emp_title, dtype: int64

### Create `emp_title_manager`

pandas documentation: [`str.contains`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.contains.html)

In [0]:
# Boolean column, True if `emp_title` contains 'Manager',
# otherwise False

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains('Manager')

In [20]:
df['emp_title_manager'].value_counts()

False    109498
True      18696
Name: emp_title_manager, dtype: int64

## Work with dates

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], 
                               infer_datetime_format=True)

In [22]:
df['issue_d'].describe()

count                  128194
unique                      3
top       2018-08-01 00:00:00
freq                    46079
first     2018-07-01 00:00:00
last      2018-09-01 00:00:00
Name: issue_d, dtype: object

In [0]:
df['issue_year']  = df['issue_d'].dt.year
df['issue_month'] = df['issue_d'].dt.month

In [24]:
df['issue_month'].sample(n=10).values

array([7, 8, 7, 7, 9, 8, 8, 7, 9, 7])

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], 
                                        infer_datetime_format=True)

In [26]:
(df['issue_d'] - df['earliest_cr_line']).head()

0   2984 days
1   4506 days
2   6971 days
3   5753 days
4   8675 days
dtype: timedelta64[ns]

In [0]:
df['days_from_earliest_credit_to_issue'] = (
    df['issue_d'] - df['earliest_cr_line']).dt.days

In [28]:
df['days_from_earliest_credit_to_issue'].head().values

array([2984, 4506, 6971, 5753, 8675])

In [29]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
for col in ['last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']:
    df[col] = pd.to_datetime(
        df[col],
        infer_datetime_format=True)

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [31]:
df['term'].value_counts(dropna=False)

 36 months    89574
 60 months    38620
Name: term, dtype: int64

In [0]:
df['term'] = df['term'].str.strip('months').astype(int)

In [33]:
df['term'].value_counts(dropna=False)

36    89574
60    38620
Name: term, dtype: int64

In [34]:
df['loan_status'].value_counts(dropna=False)

Current               92259
Fully Paid            25622
Charged Off            6492
Late (31-120 days)     2685
In Grace Period         688
Late (16-30 days)       444
Default                   4
Name: loan_status, dtype: int64

In [0]:
def great(loan_status):
    if loan_status == 'Current' or loan_status == 'Fully Paid':
        return 1
    else:
        return 0
    
df['loan_status_is_great'] = df['loan_status'].apply(great)

In [36]:
df['loan_status_is_great'].value_counts(dropna=False)

1    117881
0     10313
Name: loan_status_is_great, dtype: int64

In [40]:
df['last_pymnt_d'].values[0]

numpy.datetime64('2019-11-01T00:00:00.000000000')

In [0]:
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

In [39]:
df['last_pymnt_d_month'].values[0], df['last_pymnt_d_year'].values[0]

(11.0, 2019.0)

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

In [0]:
df['revol_util'].head()

In [0]:
df['revol_util'] = df['revol_util'].fillna('0').str.strip('%').astype(float)

In [0]:
df['revol_util'].head()

In [0]:
df['emp_title'].nunique()

In [0]:
top20_titles = df['emp_title'].value_counts().head(20).index

In [0]:
def combine_titles(title):
    if title not in top20_titles:
        return 'Other'
    else:
        return title
    
examples = ['Unknown', 'Teacher', 'Manager', 'Data Scientist', 'Web Developer']

for example in examples:
    print(combine_titles(example))

In [0]:
df['emp_title'] = df['emp_title'].apply(combine_titles)

In [0]:
df['emp_title'].nunique()

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01